{% extends 'base.html.twig' %}

{% block title %}Edit Profile{% endblock %}

{% block body %}
    <h1>Change Password</h1>

    {{ form_row(form.currentPassword) }}
    {{ form_row(form.plainPassword) }}
    {{ form_row(form.confirmPassword) }}

    <button class="btn btn-success mt-3">Save changes</button>
    {{ form_end(form) }}
{% endblock %}